// Place all the styles related to the restaurants controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: https://sass-lang.com/

.card-right-position{
  position:absolute;
  top:5px;
  right: 5px;
  padding:10px;
  border-radius: 50%;
  font-size: 14px;
  color: $light-gray;
  background-color:$blue;  
}
